{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You are not eligible for this service
    </h1>

    <p>
      Citizens from Northern Ireland are not eligible for this service.
    </p>

    <p>
      Read more <a href="/path/of/page">about this topic</a>.
    </p>

  </div>
</div>

{% endblock %}